.container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.inner-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.inner-container .column {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: stretch;
}

.inner-container .column h3 {
  align-self: flex-start;
  justify-self: start;
  margin-bottom: 2rem;
  border-bottom: 1px solid #ccc;
}
